@keyframes dialog-slide-up {
    0% {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
  
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes dialog-slide-down {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
  
    100% {
        opacity: 0;
        transform: translate(-50%, -30%);
    }
}

@keyframes dialog-backdrop-fade-in {
    0% {
        opacity: 0;
    }
  
    100% {
        opacity: 1;
    }
}

@keyframes dialog-backdrop-fade-out {
    0% {
        opacity: 1;
    }
  
    100% {
        opacity: 0;
    }
}

@keyframes side-menu-open {
    0% {
        opacity: 0;
        transform: translate(-50%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes side-menu-close {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 0);
    }
}

@keyframes side-menu-button-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}