:root{
    --beige: #F4F1EB;
    --dark-beige: #d6c198;
    --dark-green: #557653;
    --light-green: #7b9f6a;
    --white: #FFFFFF;
    --dialog-background: rgba(0, 0, 0, 0.3);
}

html, body{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 0;
    padding: 0;
    background-color: var(--beige);
    color: black;
    min-height: 100vh;
    user-select: none;
    caret-color: transparent;
}

#side-menu-button{
    background-color: var(--beige); 
    border: none;
}

#title{
    color: var(--dark-green);
    cursor: default;

}
main{
    flex-grow: 1;
    color: var(--light-green);
}
#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#filter-setting{
    width: 40rem;
}
.filter-setting-title{
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: 1.3rem;
    margin: 0.35rem;
    font-weight: bold;
}
.filter-setting-title:active{
    text-decoration: underline;
}
.filter-setting-option{
    display: grid;
    margin-left: 4.5rem;
    grid-template-columns: repeat(3, 33%);
}
.filter-setting-option label{
    margin: 0.25rem 0;
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    
    /* flex-direction: column; */
    /* justify-content: center; */
}
details{
    user-select: none;
    overflow: hidden;
    transition: height 400ms ease-out;
}
details:not([open]){
    height: 2.5rem;
}
details[open]#style-details{
    height: 12rem;
}
details[open]#category-details{
    height: 21rem;
}
details[open]#distance-details{
    height: 7rem;
}

#blacklist{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem;
}
#blacklist:active{
    text-decoration: underline;
}

#whitelist{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0rem;
}
#whitelist:active{
    text-decoration: underline;
}

#button-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#random-button{
    width: 8rem;
    height: 4rem;
    background-color: var(--light-green); 
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
#random-button:active {
    width: 7.9rem;
    height: 3.9rem;
    background-color: var(--dark-green);
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;  
    background-color: var(--dark-green);
    padding: 0.1rem;
    color: var(--white);
}
#filter-setting{
    padding: 1rem;
}
.filter-setting-modal::backdrop{
    background-color: rgba(0, 0, 0, 0.3);
    animation: fade-in 0.3s ease-out;
}
.filter-setting-modal.hide::backdrop{
    animation: fade-out 0.5s ease-out;
}
.filter-setting-modal{
    width: 50vw;
    height: 50vh;
    background-color: var(--beige);
    position: fixed;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    max-width: none;
    border-color: var(--dark-green);
}

.filter-setting-modal[open] {
    animation: slide-up 0.4s ease-out;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter-setting-modal.hide{
    animation: slide-down 0.5s ease-out;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
  
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes slide-down {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
  
    100% {
        opacity: 0;
        transform: translate(-50%, -30%);
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
  
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
  
    100% {
        opacity: 0;
    }
}
.list-option{
    color: var(--dark-green);
}
.list-option-button{
    margin: 0%;
    padding: 0%;
    /* width: 30px;
    height: 30px; */
    background-color: var(--beige);
    border: none;
}
.list-option-button:active{
    width: 10;
    height: 10;
}
.dialog-title{
    font-size: larger;
    font-weight: bold;
    color:var(--dark-green);
}
.dialog-content{
    padding-top: 0.5rem;
}
.list-option{
    padding-bottom: 0.5rem;
}
#question-button{
    outline: none;
}
#searching-row{
    height: 1.2rem;
    width: 80%;
    margin: 4%;
    padding: 0%;
    border: solid;
    border-color: var(--dark-green);
    border-radius: 10px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
}
#searching-text{
    flex: 1;
    /* width: 200em; */
    /* box-sizing: border-box; */
}
#searching-text input{
    width: 100%;
    height: 1rem;
    background-color: transparent;
    border: none;
    caret-color: auto;
    outline: none;
    margin-left: 0.2rem;
    box-sizing: border-box;
}
#searching-button{
    align-items: last baseline;
    margin-right: 0.4rem;
}

.filter-setting-modal.explain-modal{
    width: 10rem;
    height: 13rem;
    outline: none;
}

.explain-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--dark-green);
}

.title{
    font-weight: bold;
}